.git
.git/**
**/.git
**/.git/**

.env
.env.*
**/.env
**/.env.*

certs
certs/**
**/certs
**/certs/**
secrets
secrets/**
**/secrets
**/secrets/**
**/*.crt
**/*.key
**/*.pem
**/*.p12
**/*.pfx

docs
docs/**
**/docs
**/docs/**

node_modules
node_modules/**
**/node_modules
**/node_modules/**

dist
dist/**
**/dist
**/dist/**

coverage
coverage/**
**/coverage
**/coverage/**
*.ait
*.log
*.tsbuildinfo
.pnpm-store
.pnpm-store/**
